# Default ignored files
/../../10-Find Factors of a Number /.idea/shelf/
/../../10-Find Factors of a Number /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../10-Find Factors of a Number /.idea/httpRequests/
# Datasource local storage ignored files
/../../10-Find Factors of a Number /.idea/dataSources/
/../../10-Find Factors of a Number /.idea/dataSources.local.xml
